*~
*.tar.gz
.deps
Makefile
autom4te.cache
build-stamp
checkpassword-pam
checkpassword-pam-*.diff.gz
checkpassword-pam.spec
config.h
config.log
config.status
configure.stamp
local-configure.sh
tmp
stamp-h
stamp-h1
